body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #588157;
    color: #344e41;
    max-width: 100vw;
    overflow: hiddenz;
    font-size: calc(0.75em + 1vmin);
}

*,
*::before,
*::after {
    transition: 100ms;
    box-sizing: border-box;
}

*::selection {
    background-color: #3a5a40;
    color: #dad7cd;
}

a {
    all: unset;
    text-decoration: none;
}

nav {
    background-color: #3a5a40;
    color: #dad7cd;
    display: flex;

    align-items: center;
    padding: 0.5em 1em 0.5em 1em;
    font-size: calc(0.75em + 1.5vmin);
    font-weight: bolder;
    border-bottom: solid 4px #304934;
}

nav *:last-child {
    margin-left: auto;
}

nav * {
    margin: 0;
}

nav *:hover {
    cursor: pointer;
    color: #a3b18a;
}

article {
    padding: 0 1em 1em 1em;
    margin: 0.5em;
    border-radius: 0.5em;
    background-color: #dad7cd;
    border-color: #3a5a40;
    border: solid 2px;
    height: fit-content;
    max-width: 100vw;
}

article p label input button {
    font-weight: 500;
}

.card-header {
    margin-top: 20px;
    display: flex;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #3a5a40;
}

.accept-whitespace {
    white-space: pre-line;
}

.card-header * {
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: calc(0.75em + 1.5vmin);
    height: fit-content;
    width: 100%;
}

.no-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-header-menu {
    margin-left: auto;
    padding: 0.2em;
    cursor: pointer;
    border-radius: 100%;
}

.card-header-menu:hover {
    background-color: #a3b18a;
}

button {
    all: unset;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    cursor: pointer;
    padding: 0.5em 1.2em;
    margin-top: 0.8em;
    background-color: #3a5a40;
    text-align: center;
    color: #dad7cd;
    border: solid 2px #588157;
    border-radius: 5px;
    box-sizing: border-box;

    height: 40px;
    line-height: 1;
}

button:hover {
    background-color: #588157;
    border: solid 2px #3a5a40;
}

.danger-button {
    background-color: #c85250;
    color: #dad7cd;
    border: solid 2px #e7625f;
}

.danger-button:hover {
    background-color: #e7625f;
    border: solid 2px #c85250;
}

.button-section {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button-section > * {
    margin: 0 0.25em 0 0.25em;
    width: 100%;
}

label {
    margin-bottom: 0.2em;
    font-weight: 600;
}

input,
textarea {
    all: unset;
    background-color: #f1f0ec;
    padding: 0.3em 0.4em;
    border-radius: 5px;
    margin-bottom: 0.2em;
    border: solid 1px #588157;
    flex: 1;
    box-sizing: border-box;
}

.material-icons {
    user-select: none;
}
