.contentHolder {
    display: flex;
    width: 100%;
    justify-content: stretch;
}

.draggableHeader {
    height: 0.8em;
    cursor: move;
    background-color: #A3B18A;
    border: solid 2px #588157;
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin-bottom: 0.5em;
}