.todolist-task  {
    margin: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    border-bottom: solid 1px #A3B18A;
    border-radius: 5px;
}

.todolist-task * {
    margin: 0;
    margin-right: 10px;
}

.todolist-task:hover {
    background-color: #A3B18A;
    transform: scale(1.01);
}

.todolist-task > *:last-child {
    margin-left: auto;
    cursor: pointer;
    border-radius: 100%;
    padding: 5px;
}

.todolist-task > *:last-child:hover {
    background: #588157;
}

.todolist-task:last-child * {
    margin-left: 0;
}