.content {
    display: flex;
    width: 100wh;
    justify-content: center;
}

article {
    width: 400px;
}

form {
    width: 100%;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

.error {
    padding: 0.2em;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    max-width: 100%;
    text-wrap: normal;
    color: rgb(255, 71, 71);
}